
.AppointmentCardWorker{

    height: 20em;
    width: 20em;
    
    border-radius: 2em;
    border: 0.4em solid black;
    background-color: white;

    margin-top: 2em;
    color: black;
    display: grid;
}

