.cardDesign
      height: 2em
      width: 8em
 
      border: 0.5 solid black

       margin-bottom: 2em

       margin-top: 0.5em
      color: black

.photo
      margin: 0.5em
      height: 6em
      width: 6em
      border: 0.5 solid red
      
