.createDesign {

    height: 90vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: lightseagreen;
}


.buttonSubmit {

    height: 3em;
    width: 8em;

    border-radius: 1em;
    background-color: violet;
    color: white;
    font-weight: bolder;

    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonSubmit:hover {

    transition: 0.4s;
    background-color: blueviolet;
    cursor: pointer;
}